@import url(//db.onlinewebfonts.com/c/00561b492d88a5287a5def1e83a34882?family=Gumela);

* {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #FDC50F 26.71%, #FB982F 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.button:hover{
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}